/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
}
/* header styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    margin-right: 40px;
    font-weight: 500;
    font-size: 1.1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
    }
.banner-desc{
    color: #727272;
    line-height: 26px; 
    margin-bottom: 53px;
}
.banner img{
    margin-top: 50px;
    width: 100%;
}


/* responsive styles  */
/* mobile devices */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
    nav{
        flex-direction: column;
        
    }
    header{
        padding: 40px;
    }
}